<!DOCTYPE html>
<html lang="en">
<head>

  {% block head %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - evaBird</title>
  <meta name="description" content="Look up recent notable bird sightings in your region">
  <meta name="author" content="Eva Parish">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='barebones.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="i{{ url_for('static', filename='ankh.png') }}">

  {% endblock %}

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="grid-container halves">
      <div id="content">

        {% block content %}{% endblock %}

        <div id="footer">
          {% block footer %}
          <br>
          <br>
          &copy; Copyright 2022 by <a href="http://evaparish.com/" target="_blank">Eva Parish</a>.
          {% endblock %}
        </div>
      </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>