<!DOCTYPE html>
<html>
  <head></head>
  <body>
    
    <h1>Welcome to e(va)Bird!</h1>

    <p>Enter your region to see recent notable bird sightings nearby:</p>
    <form method="post">
      <input type="text"
             name="region"
             value="{{ request.form['region'] }}"></input>
      <button type="submit">Go</button>
    </form>

  </body>
</html>