{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to e(va)Bird!</h1>

    <p>Enter your region (e.g., US-NY-047) to see recent notable bird sightings nearby:</p>
    <form method="post">
      <input type="text"
              name="region"
              value="{{ request.form['region'] }}"></input>
      <button type="submit">Go</button>
    </form>

{% endblock %}